/*** FONTS ***/

@font-face {
    font-family: "titles";
    src: url("fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "contents";
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
    font-family: "links";
    src: url("fonts/OpenSans-Light.ttf") format("truetype");
}

/*** BODY ***/

body {
    color: #202F51;
    font-family: "contents", sans;
    font-size: 24px;
    text-align: left;
    height: 100%;
    margin: 0;
    padding: 0px 0px 0px 0px;
    background-color: #EFEFEF;
}

/*** DIVS ***/

#wrap {
    /*background: #99c;*/
    margin: 0 auto;
    float: center;
}

#sidebar {
    visibility: hidden;
    background: #EFEFEF;
    float: left;
    width: 0px;
    height: 100%;
    text-align: right;
    padding: 0px 0px 0px 0px;
}

#main {
    /*background: #9c9;*/
    float: center;
    width: auto;
    padding: 5px 5px 0px 5px;
    background-color: #FAFAFA;
    text-align: justify;
}

#footer {
    /*background: #cc9;*/
    clear: both;
    text-align: center;
    color: #D0D0D0;
    padding: 30px;
}

/*** TITLES ***/

#name {
    font-size: 20pt;
    font-family: "titles", sans;
}

#section {
    display: inline;
    font-family: "titles", sans;
    font-weight: bold;
}

/*** HYPERLINKS ***/

a {
    font-family: "links", sans;
    color: #021B3C;
    text-decoration: none;
    border-bottom: solid 1px #021B3C;
}

a:hover {
    border-bottom: solid 2px #021B3C;
}
