@font-face {
    font-family: "titles";
    src: url("fonts/LinLibertine_aBS.ttf") format("truetype");
/*    src: url("fonts/Minecraftia.ttf") format("truetype");*/
}
@font-face {
    font-family: "contents";
    src: url("fonts/LinLibertine_R.ttf") format("truetype");
/*    src: url("fonts/Minecraftia.ttf") format("truetype");*/
}

body {
    color: #222222;
    font-family: "contents", serif;
    font-size: 18px;
    text-align: left;
    background-color: #F0F0E0;
    max-width: 1000px;
    margin: auto;
    margin-top: 20px;
}

div#header,
div#main,
div#footer {
    max-width: 920px;
    min-width: 300px;
    margin: auto;
}

div#main {
    position: relative;
}

div#header {
    text-align: left;
}

div#header h1 {
}

div#side {
    float: right;
    padding: 0px 0px 0px 1%;
    width: 24%;
    text-align: left;
}

div#content {
    float: left;
    padding: 0px 1% 0px 0px;
    width: 74%;
    text-align: justify;
}

div#footer {
    clear: both;
    text-align: center;
    color: #C0C0B0;
}

h1 {
    font-family: "titles", serif;
}

h2 {
    font-family: "titles", serif;
}

h3 {
    font-family: "titles", serif;
}

h4 {
    font-family: "titles", serif;
}
