@font-face {
    font-family: "titles";
    src: url("fonts/LinLibertine_aBS.ttf") format("truetype");
/*    src: url("fonts/Minecraftia.ttf") format("truetype");*/
}
@font-face {
    font-family: "contents";
    src: url("fonts/LinLibertine_R.ttf") format("truetype");
/*    src: url("fonts/Minecraftia.ttf") format("truetype");*/
}

body {
    color: #222222;
    font-family: "contents", serif;
    font-size: 16px;
    text-align: left;
    background-color: #F0F0E0;
}

div#header,
div#main,
div#footer {
    max-width: 900px;
    min-width: 600px;
    margin: auto;
}

div#main {
    position: relative;
}

div#header {
    text-align: left;
}

div#header h1 {
}

div#side {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    padding: 0px 0px 0px 20px;
}

div#content {
    margin-right: 300px;
    text-align: justify;
    padding: 0px 20px 0px 0px;
}

div#footer {
    text-align: center;
    max-width: 900px;
    color: #C0C0B0;
}

div#footer p {
}

h1 {
    font-family: "titles", serif;
}

h2 {
    font-family: "titles", serif;
}

h3 {
    font-family: "titles", serif;
}

h4 {
    font-family: "titles", serif;
}
