@font-face {
    font-family: "titles";
/*    src: url("fonts/LinLibertine_aBS.ttf") format("truetype");*/
    src: url("fonts/Minecraftia.ttf") format("truetype");
}
@font-face {
    font-family: "contents";
/*    src: url("fonts/LinLibertine_R.ttf") format("truetype");*/
    src: url("fonts/Minecraftia.ttf") format("truetype");
}

body {
    color: #222222;
    font-family: "contents", serif;
    font-size: 16px;
    text-align: justify;
    background-color: #F0F0E0;
}

h1 {
    font-family: "titles", serif;
}

h2 {
    font-family: "titles", serif;
}

h3 {
    font-family: "titles", serif;
}

a:link {text-decoration:none;}      /* unvisited link */
a:visited {text-decoration:none;}  /* visited link */
a:hover {text-decoration:underline;}  /* mouse over link */
a:active {text-decoration:underline;}  /* selected link */

hr {
    height: 3px;
    color: #222222;
    background-color: #222222;
} 

blinking {
    text-decoration:blink;
}
