<div id="name">
  <h1><a href="/">{{ site.name }}</a></h1>
</div>

<ul id="icons">
  <li><a href="https://github.com/{{site.author.github}}" target="_blank" title="GitHub"><i class="fab fa-github-alt" aria-hidden="true"></i></a></li>
  <li><a href="https://twitter.com/{{site.author.twitter}}" target="_blank" title="Twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
  <li><a href="mailto:{{ site.author.email }}" title="E-mail"><i class="far fa-envelope" aria-hidden="true"></i></a></li>
  <li><a href="{{ site.author.pgp }}" target="_blank" title="Public key"><i class="fas fa-key" aria-hidden="true"></i></a></li>
  {% if site.author.cv %}
    <li><a href="{{ site.author.cv }}" target="_blank" title="Resume"><i class="far fa-file-alt" aria-hidden="true"></i></a></li>
  {% endif %}
</ul>

{% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `layout: page` in the front-matter. See readme for usage.
{% endcomment %}
<ul id="menu">
{% assign sorted_pages = site.pages | sort: "weight" %}
{% for node in sorted_pages %}
  {% unless node.hidden or node.layout != "page" or node.is_blog_home and site.posts == empty %}
    {% if page.title == node.title %}
      {% assign li_class = "active" %}
    {% else %}
      {% assign li_class = "inactive" %}
    {% endif %}
    <li class="{{ li_class }}"><a href="{{ node.url }}">{{ node.title }}</a></li>
  {% endunless %}
{% endfor %}
</ul>
