<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{% if page.is_homepage %}{{ site.name }}{% else %}{{ page.title }} | {{ site.name }}{% endif %}</title>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,700" rel="stylesheet">

<!-- Icons -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/regular.css" integrity="sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">

<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/assets/css/syntax.css" type="text/css" media="all" />
<meta name="viewport" content="width=device-width" />

<!-- MathJax -->
{% if page.mathjax == true %}
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% endif %}
