<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{ site.title }} / {{ page.title }}</title>
<!--  Fonts -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700" rel="stylesheet">

<!-- Icons -->
<link rel="shortcut icon" href="/img/favicon.ico">
<link rel="stylesheet" href="/fontawesome-free-5.0.2/web-fonts-with-css/css/fontawesome-all.min.css">

<!-- SEO metas -->
{% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
{% if page.keywords %}<meta name="keywords" content="{{ page.keywords }}" />{% endif %}

<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
<meta name="viewport" content="width=device-width">
<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<!-- MathJax -->
{% if page.mathjax == true %}
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
{% endif %}
