@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Fira_Sans/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 400;
  font-style: italic;
  src: url('../fonts/Fira_Sans/FiraSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Fira_Sans/FiraSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Fira Sans';
  font-weight: 700;
  font-style: italic;
  src: url('../fonts/Fira_Sans/FiraSans-BoldItalic.ttf') format('truetype');
}
