html {
  /* https://stackoverflow.com/questions/2710764/preserve-html-font-size-when-iphone-orientation-changes-from-portrait-to-landsca */
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  background-color: #ffffff;
  padding: 10px;
  font: 16px/1.5 'Lato', sans-serif;
  color:#444;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  margin:0 0 20px;
  font-weight: 700;
}

p {
  margin:0 0 20px;
}

h1 {
  font-size: 1em;
}

h2 {
  font-size: 1em;
}

h3 {
  font-size: 0.75em;
}

h4 {
  font-size: 0.685em;
}

h5 {
  font-size: 0.5em;
}

h6 {
  font-size: 0.425em;
}

authordate {
  font-size: 0.75em;
  color: #999;
}

gray {
  color: #999;
}

a {
  color:#28b;
  text-decoration:none;
}

a:hover {
  color:#069;
}

div.wrapper {
  // background-color: #bbbbbb;
  max-width:780px;
  margin:0 auto;
}

header, main, footer {
  // background-color: #cccccc;
  display:block;
  float:left;
  width:100%;
}

header {
  border-bottom: 1px solid #e5e5e5;
  margin-top: 20px;
  margin-bottom: 20px;
}

#name {
  // background-color: #cccccc;
  float:left;
}

header ul {
  list-style:none;
  margin-top: 0px;
  margin-bottom: 20px;
}

ul#icons {
  // background-color: #cccccc;
  float:left;
  padding-left: 0px;
}

ul#menu {
  // background-color: #cccccc;
  float:right;
  padding-left: 0px;
}

header li {
  float:left;
  margin-left:10px;
}

#menu li.active a {
  border-bottom: 2px solid;
}

footer a.prev {
  float: left;
}

footer a.next {
  float: right;
}

// main {
//   // background-color: #cccccc;
//   max-width:inherit;
//   position:relative;
//   float:left;
//   border-top:1px solid #e5e5e5;
// }

// img.author {
//   width: 100px;
//   border-radius: 5%;
//   float:left;
//   margin-left: 0;
//   margin-right: 20px;
//   margin-bottom: 20px;
// }

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  // color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}
